

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   @font-face {
   	font-family: 'MyWebFont';
   	src: url('SelznickRemixNF.eot'); /* IE9 Compat Modes */
   	src: url('SelznickRemixNF.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */  url('SelznickRemixNF.woff2') format('woff2'), /* Super Modern Browsers */  url('SelznickRemixNF.woff') format('woff'), /* Pretty Modern Browsers */  url('SelznickRemixNF.ttf') format('truetype'), /* Safari, Android, iOS */  url('SelznickRemixNF.svg#SelznickRemixNF') format('svg'); /* Legacy iOS */
   }

   body {
   	background-size: cover;
   	background-repeat: no-repeat;
   }
   .button_container {
     padding: 0px;
     margin: 0px;
     width: 10%;
     position: absolute;
     left: 0px;
     top: 0px;
   }
   .page-wrapper {
   	/*padding: Top, Rt, Bottom, Lt  */
   	padding: 0 5% 0 5%;
   	margin: 0;
   	position: relative;
    background-color: rgba(27, 22, 60, 0.97);
   }
   /* Intro  Intro  Intro  Intro  Intro  Intro */
   .intro { /*part of intro*/
   	background-color: rgba(154, 171, 241, 0.2);
   	width: 100%;
    position: absolute;
    right: 5px;
    padding: 1rem;
    font-size: auto;
   }
  /* .navbar {
    background-color: rgba(154, 171, 241, 0.3);
    width: 30%;
   }
   .navbar-default {
     padding: 0px;
   }*/


  /* @media (max-width: 600px) {
   .page-wrapper {padding:0px!important;}
    }
*/






   .sidebar + .affix {
       top: 1px;
       width: 100%;
       z-index: 999;
   }

   .affix + .container-fluid {
       padding-top: 5px;
   }


   /* sidebar  sidebar  sidebar  sidebar  sidebar  sidebar*/
   ul {
     list-style-type: none;
     display: inline;
     margin: 0;
     padding: 0;
   }
   h1 {
     text-align: center;
     font-family: 'MyWebFont', Fallback, sans-serif;
   	 font-weight: normal;
     color: rgba(226, 165, 8, .8);
   }
   li:hover {
     display: inline;
   }
   .sidebar:hover {
   	width: 45%;
   }
   .select:before {
   	content: "Samples here";
   	width: 90px;
   	/* 	margin-left: 12rem;*/
   	position: absolute;
   	right: 1px;
   }
   .sidebar {
   	background: red;
   	position: fixed;
   	top: 10rem;
   	left: 0px;
   	width: auto;
    margin-left: .9%;
    padding: 4px;
   	transition: 3s width;
   	transition-property: width;
   	transition-duration: 3s;
   	transition-timing-function: initial;
   	transition-delay: initial;
   }
   /* sidebar  sidebar  sidebar  sidebar  sidebar  sidebar */





.masonryContaner {
  margin-left: 10%;
  margin-top: 110px;
  width: 90%;
}
  div#masonry {
	display: -ms-flexbox;
	-ms-flex-direction: column;
	-ms-flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 270vw;       /*Height must be enough to fit all images. Or columns will flow right & off the page.*/
	font-size: 0;        /*Need a variable height solution. When I add pics to flicker, web should auto adjust.*/
}
div#masonry img {
	width: 33.3%;
	transition: .8s opacity;
}
div#masonry:hover img {
	opacity: 0.3;
}
div#masonry:hover img:hover {
	opacity: 1;
}

@media screen and (max-width: 500px) {
 div#masonry { height: 500vw; }
 div#masonry img { width: 50%; }
}
